In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('updated_data1.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'updated_data1.xlsx'

In [19]:
df.head()

,Unnamed: 0,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
0,0,GSEB,89.0,"JEE, GUJCET",44.0,66.00,Indus University,Computer science and engineering,53.4,26.400,17.6,79.800,71.0
1,1,GSEB,71.0,"JEE, GUJCET",67.0,67.00,Indus University,Computer science and engineering,42.6,26.800,26.8,69.400,69.4
2,2,CBSE,78.0,"JEE, GUJCET",46.0,45.00,Indus University,Computer engineering,46.8,18.000,18.4,64.800,65.2
3,3,CBSE,70.0,JEE,55.0,NaN,Indus University,Computer engineering,42.0,NaN,22.0,NaN,64.0
4,4,GSEB,78.0,"JEE, GUJCET",54.0,45.67,Indus University,Information technology,46.8,18.268,21.6,65.068,68.4

In [20]:
df.columns

Index(['Unnamed: 0', 'XIIth Board', 'XIIth score', 'Entrance given',
       'JEE Score', 'GUJCET Score', 'College/University', 'Field', 'XII60',
       'GUJCET 40%', 'JEE 40%', 'Final_G', 'Final_J'],
      dtype='object')

In [21]:
df = df.drop(['Unnamed: 0'],axis=1)

In [22]:
df.head()

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
0,GSEB,89.0,"JEE, GUJCET",44.0,66.00,Indus University,Computer science and engineering,53.4,26.400,17.6,79.800,71.0
1,GSEB,71.0,"JEE, GUJCET",67.0,67.00,Indus University,Computer science and engineering,42.6,26.800,26.8,69.400,69.4
2,CBSE,78.0,"JEE, GUJCET",46.0,45.00,Indus University,Computer engineering,46.8,18.000,18.4,64.800,65.2
3,CBSE,70.0,JEE,55.0,NaN,Indus University,Computer engineering,42.0,NaN,22.0,NaN,64.0
4,GSEB,78.0,"JEE, GUJCET",54.0,45.67,Indus University,Information technology,46.8,18.268,21.6,65.068,68.4

In [1]:
df.to_csv('PR_data.csv',index=None)

NameError: name 'df' is not defined

In [4]:
df = pd.read_csv('PR_data.csv')

In [5]:
df.head()

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
0,GSEB,89.0,"JEE, GUJCET",44.0,66.00,Indus University,Computer science and engineering,53.4,26.400,17.6,79.800,71.0
1,GSEB,71.0,"JEE, GUJCET",67.0,67.00,Indus University,Computer science and engineering,42.6,26.800,26.8,69.400,69.4
2,CBSE,78.0,"JEE, GUJCET",46.0,45.00,Indus University,Computer engineering,46.8,18.000,18.4,64.800,65.2
3,CBSE,70.0,JEE,55.0,NaN,Indus University,Computer engineering,42.0,NaN,22.0,NaN,64.0
4,GSEB,78.0,"JEE, GUJCET",54.0,45.67,Indus University,Information technology,46.8,18.268,21.6,65.068,68.4

In [18]:
df['Entrance given'] = df['Entrance given'].fillna(df['Entrance given'].mode()[0])

In [19]:
df['Entrance given'].isnull().sum()

0

In [20]:
twelve_marks = int(input('Enter your 12th score: '))*0.6
JEE_marks = int(input('Enter your JEE score: '))*0.4
GUJCET_marks = int(input('Enter your GUJCET score: '))*0.4
Final_JM= twelve_marks + JEE_marks
Final_GM= twelve_marks + GUJCET_marks
twelve_board = (input('Enter your 12th Board: '))
given_entrance = (input('Enter your entrance given: '))
choose_field = (input('Enter your choice of field: '))

Enter your 12th score: 78
Enter your JEE score: 57
Enter your GUJCET score: 0
Enter your 12th Board: 75
Enter your entrance given: JEE
Enter your choice of field: Computer engineering

In [21]:
df3 = df[(df["XIIth Board"] == twelve_board) & (df['Entrance given'].str.contains(given_entrance, case=False))]

In [24]:
df3

Empty DataFrame
Columns: [XIIth Board, XIIth score, Entrance given, JEE Score, GUJCET Score, College/University, Field, XII60, GUJCET 40%, JEE 40%, Final_G, Final_J]
Index: []

In [22]:
df3 = df3[(df3["Field"] == choose_field) & (df3["Final_J"] <= Final_JM)]

In [23]:
df3['College/University']

Series([], Name: College/University, dtype: object)