In [62]:
import pandas as pd

In [63]:
df = pd.read_excel('Book.xlsx')

In [64]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC
...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others

In [65]:
import numpy as np

In [66]:
df['XII60'] =df['XIIth score']*0.6

In [67]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0
...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8

In [68]:
df['GUJCET 40%'] =df['GUJCET Score']*0.4

In [69]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8,19.6
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0,0.0
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6,22.4
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0,9.6
...,...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4,0.0
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0,20.4
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,19.6
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8,0.0

In [70]:
df['JEE 40%'] =df['JEE Score ']*0.4

In [71]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8,19.6,0.0
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0,32.0
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0,0.0,33.6
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6,22.4,0.0
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0,9.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4,0.0,24.8
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0,20.4,0.0
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0,21.2
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,19.6,0.0
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8,0.0,20.4

In [72]:
df["Final_G"] = df["XII60"] + df["GUJCET 40%"]

In [73]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%,Final_G
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8,19.6,0.0,57.4
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0,32.0,44.4
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0,0.0,33.6,48.0
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6,22.4,0.0,65.0
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0,9.6,0.0,42.6
...,...,...,...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4,0.0,24.8,32.4
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0,20.4,0.0,53.4
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0,21.2,32.4
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,19.6,0.0,52.0
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8,0.0,20.4,31.8

In [74]:
df["Final_J"] = df["XII60"] + df["JEE 40%"]

In [75]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8,19.6,0.0,57.4,37.8
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0,32.0,44.4,76.4
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0,0.0,33.6,48.0,81.6
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6,22.4,0.0,65.0,42.6
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0,9.6,0.0,42.6,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4,0.0,24.8,32.4,57.2
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0,20.4,0.0,53.4,33.0
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0,21.2,32.4,53.6
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,19.6,0.0,52.0,32.4
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8,0.0,20.4,31.8,52.2

In [76]:
df.to_excel('Final.xlsx')

FileCreateError: [Errno 13] Permission denied: 'Final.xlsx'

In [2]:
import pandas as pd
df1 = pd.read_excel("Final.xlsx")

In [3]:
df1

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8,19.6,0.0,57.4,37.8
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0,32.0,44.4,76.4
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0,0.0,33.6,48.0,81.6
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6,22.4,0.0,65.0,42.6
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0,9.6,0.0,42.6,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4,0.0,24.8,32.4,57.2
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0,20.4,0.0,53.4,33.0
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0,21.2,32.4,53.6
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,19.6,0.0,52.0,32.4
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8,0.0,20.4,31.8,52.2

In [4]:
twelve_board = (input('Enter your 12th Board: '))

Enter your 12th Board: GSEB

In [5]:
twelve_marks = int(input('Enter your 12th score: '))*0.6

Enter your 12th score: 75

In [6]:
twelve_marks

45.0

In [7]:
given_entrance = (input('Enter your entrance given: '))

Enter your entrance given: JEE

In [8]:
GUJCET_marks = int(input('Enter your GUJCET score: '))*0.4

Enter your GUJCET score: 0

In [9]:
GUJCET_marks

0.0

In [10]:
Final_GM= twelve_marks + GUJCET_marks

In [11]:
Final_GM

45.0

In [12]:
enter_category = (input('Enter your Category: '))

Enter your Category: General

In [13]:
choose_field = (input('Enter your choice of field: '))

Enter your choice of field: Computer engineering

In [14]:
df2 = df1[(df1["XIIth Board"] == twelve_board) & (df1["Entrance given"] == given_entrance)]

In [15]:
df2

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0,32.0,44.4,76.4
5,GSEB,69,JEE,57,0,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,41.4,0.0,22.8,41.4,64.2
9,GSEB,69,JEE,57,0,SAL COLLEGE OF ENGINEERING,Information Technology,ST,41.4,0.0,22.8,41.4,64.2
13,GSEB,69,JEE,57,0,SAL COLLEGE OF ENGINEERING,Information Technology,SC,41.4,0.0,22.8,41.4,64.2
17,GSEB,69,JEE,57,0,SAL COLLEGE OF ENGINEERING,Information Technology,Others,41.4,0.0,22.8,41.4,64.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,GSEB,84,JEE,81,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,General,50.4,0.0,32.4,50.4,82.8
4365,GSEB,75,JEE,77,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,OBC,45.0,0.0,30.8,45.0,75.8
4369,GSEB,67,JEE,63,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,SC,40.2,0.0,25.2,40.2,65.4
4373,GSEB,58,JEE,59,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,34.8,0.0,23.6,34.8,58.4
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0,21.2,32.4,53.6

In [16]:
df2 = df2[(df2["Field"] == choose_field) & (df2["Final_J"] <= Final_GM)]

In [17]:
df2

Empty DataFrame
Columns: [XIIth Board, XIIth score, Entrance given, JEE Score , GUJCET Score, College/University, Field, Category, XII60, GUJCET 40%, JEE 40%, Final_G, Final_J]
Index: []

In [18]:
df2 = df2[(df2["Category"] == enter_category)]

In [97]:
df2

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
156,GSEB,41,GUJCET,0,20,SAMARTH COLLEGE OF ENGINEERING AND TECHNOLOGY,Electrical Engineering,Others,24.6,8.0,0.0,32.6,24.6
236,GSEB,39,GUJCET,0,19,SANJAYBHAI RAJGURU EDUCATION ZONE,Electrical Engineering,Others,23.4,7.6,0.0,31.0,23.4
336,GSEB,35,GUJCET,0,20,"SARDAR PATEL COLLEGE OF ENGINEERING - [SPCE], A0D",Electrical Engineering,Others,21.0,8.0,0.0,29.0,21.0
416,GSEB,54,GUJCET,0,31,SARDAR VALLABHBHAI PATEL INSTITUTE OF TECHNOLO...,Electrical Engineering,Others,32.4,12.4,0.0,44.8,32.4
616,GSEB,45,GUJCET,0,20,SARVAJANIK COLLEGE OF ENGINEERING AND TECHNOLO...,Electrical Engineering,Others,27.0,8.0,0.0,35.0,27.0
836,GSEB,45,GUJCET,0,20,SHREE SWAMINARAYAN INSTITUTE OF TECHNOLOGY- [S...,Electrical Engineering,Others,27.0,8.0,0.0,35.0,27.0
916,GSEB,54,GUJCET,0,31,SHREE SWAMI ATMA0D SARASWATI INSTITUTE OF TECH...,Electrical Engineering,Others,32.4,12.4,0.0,44.8,32.4
1056,GSEB,48,GUJCET,0,18,SHRI LABHUBHAI TRIVEDI INSTITUTE OF ENGINEERIN...,Electrical Engineering,Others,28.8,7.2,0.0,36.0,28.8
1296,GSEB,45,GUJCET,0,20,SHROFF S. R. ROTARY INSTITUTE OF CHEMICAL TECH...,Electrical Engineering,Others,27.0,8.0,0.0,35.0,27.0
1336,GSEB,50,GUJCET,0,20,SIGMA INSTITUTE OF ENGINEERING,Electrical Engineering,Others,30.0,8.0,0.0,38.0,30.0
1556,GSEB,41,GUJCET,0,20,SMT. SHANTABEN HARIBHAI GAJERA ENGINEERING COL...,Electrical Engineering,Others,24.6,8.0,0.0,32.6,24.6
1636,GSEB,35,GUJCET,0,19,SWAMINARAYAN COLLEGE OF ENGINEERING & TECHNOLOGY,Electrical Engineering,Others,21.0,7.6,0.0,28.6,21.0
1676,GSEB,55,GUJCET,0,24,TATVA INSTITUTE OF TECHNOLOGICAL STUDIES - [TITS],Electrical Engineering,Others,33.0,9.6,0.0,42.6,33.0
1816,GSEB,37,GUJCET,0,19,VADODARA INSTITUTE OF ENGINEERING,Electrical Engineering,Others,22.2,7.6,0.0,29.8,22.2
2276,GSEB,52,GUJCET,0,30,ADITYA SILVER OAK INSTITUTE OF TECHNOLOGY - [A...,Electrical Engineering,Others,31.2,12.0,0.0,43.2,31.2
2616,GSEB,48,GUJCET,0,18,CHANDUBHAI S PATEL INSTITUTE OF TECHNOLOGY - [...,Electrical Engineering,Others,28.8,7.2,0.0,36.0,28.8
2656,GSEB,55,GUJCET,0,24,CHHOTUBHAI GOPALBHAI PATEL INSTITUTE OF TECHNO...,Electrical Engineering,Others,33.0,9.6,0.0,42.6,33.0
3016,GSEB,55,GUJCET,0,24,"HANSABA COLLEGE OF ENGINEERING & TECHNOLOGY, G...",Electrical Engineering,Others,33.0,9.6,0.0,42.6,33.0
3176,GSEB,54,GUJCET,0,31,INDUS INSTITUTE OF TECHNOLOGY & ENGINEERING - ...,Electrical Engineering,Others,32.4,12.4,0.0,44.8,32.4

In [98]:
df2['College/University']

156         SAMARTH COLLEGE OF ENGINEERING AND TECHNOLOGY
236                     SANJAYBHAI RAJGURU EDUCATION ZONE
336     SARDAR PATEL COLLEGE OF ENGINEERING - [SPCE], A0D
416     SARDAR VALLABHBHAI PATEL INSTITUTE OF TECHNOLO...
616     SARVAJANIK COLLEGE OF ENGINEERING AND TECHNOLO...
836     SHREE SWAMINARAYAN INSTITUTE OF TECHNOLOGY- [S...
916     SHREE SWAMI ATMA0D SARASWATI INSTITUTE OF TECH...
1056    SHRI LABHUBHAI TRIVEDI INSTITUTE OF ENGINEERIN...
1296    SHROFF S. R. ROTARY INSTITUTE OF CHEMICAL TECH...
1336                       SIGMA INSTITUTE OF ENGINEERING
1556    SMT. SHANTABEN HARIBHAI GAJERA ENGINEERING COL...
1636     SWAMINARAYAN COLLEGE OF ENGINEERING & TECHNOLOGY
1676    TATVA INSTITUTE OF TECHNOLOGICAL STUDIES - [TITS]
1816                    VADODARA INSTITUTE OF ENGINEERING
2276    ADITYA SILVER OAK INSTITUTE OF TECHNOLOGY - [A...
2616    CHANDUBHAI S PATEL INSTITUTE OF TECHNOLOGY - [...
2656    CHHOTUBHAI GOPALBHAI PATEL INSTITUTE OF TECHNO...
3016    HANSABA COLLEGE OF ENGINEERING & TECHNOLOGY, G...
3176    INDUS INSTITUTE OF TECHNOLOGY & ENGINEERING - ...
Name: College/University, dtype: object