In [62]:
import pandas as pd

In [63]:
df = pd.read_excel('Book.xlsx')

In [64]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC
...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others

In [65]:
import numpy as np

In [66]:
df['XII60'] =df['XIIth score']*0.6

In [67]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0
...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8

In [68]:
df['GUJCET 40%'] =df['GUJCET Score']*0.4

In [69]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8,19.6
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0,0.0
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6,22.4
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0,9.6
...,...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4,0.0
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0,20.4
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,19.6
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8,0.0

In [70]:
df['JEE 40%'] =df['JEE Score ']*0.4

In [71]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8,19.6,0.0
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0,32.0
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0,0.0,33.6
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6,22.4,0.0
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0,9.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4,0.0,24.8
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0,20.4,0.0
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0,21.2
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,19.6,0.0
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8,0.0,20.4

In [72]:
df["Final_G"] = df["XII60"] + df["GUJCET 40%"]

In [73]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%,Final_G
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8,19.6,0.0,57.4
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0,32.0,44.4
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0,0.0,33.6,48.0
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6,22.4,0.0,65.0
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0,9.6,0.0,42.6
...,...,...,...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4,0.0,24.8,32.4
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0,20.4,0.0,53.4
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0,21.2,32.4
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,19.6,0.0,52.0
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8,0.0,20.4,31.8

In [74]:
df["Final_J"] = df["XII60"] + df["JEE 40%"]

In [75]:
df

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8,19.6,0.0,57.4,37.8
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0,32.0,44.4,76.4
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0,0.0,33.6,48.0,81.6
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6,22.4,0.0,65.0,42.6
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0,9.6,0.0,42.6,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4,0.0,24.8,32.4,57.2
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0,20.4,0.0,53.4,33.0
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0,21.2,32.4,53.6
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,19.6,0.0,52.0,32.4
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8,0.0,20.4,31.8,52.2

In [76]:
df.to_excel('Final.xlsx')

FileCreateError: [Errno 13] Permission denied: 'Final.xlsx'

In [1]:
import pandas as pd
df1 = pd.read_excel("Final.xlsx")

In [2]:
df1

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
0,GSEB,63,GUJCET,0,49,SAL COLLEGE OF ENGINEERING,Information Technology,General,37.8,19.6,0.0,57.4,37.8
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0,32.0,44.4,76.4
2,CBSE,80,JEE,84,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,48.0,0.0,33.6,48.0,81.6
3,CBSE,71,GUJCET,0,56,SAL COLLEGE OF ENGINEERING,Information Technology,General,42.6,22.4,0.0,65.0,42.6
4,GSEB,55,GUJCET,0,24,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,33.0,9.6,0.0,42.6,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375,CBSE,54,JEE,62,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,32.4,0.0,24.8,32.4,57.2
4376,GSEB,55,GUJCET,0,51,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,33.0,20.4,0.0,53.4,33.0
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0,21.2,32.4,53.6
4378,CBSE,54,GUJCET,0,49,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,19.6,0.0,52.0,32.4
4379,CBSE,53,JEE,51,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,31.8,0.0,20.4,31.8,52.2

In [3]:
twelve_board = (input('Enter your 12th Board: '))

Enter your 12th Board: GSEB

In [4]:
twelve_marks = int(input('Enter your 12th score: '))*0.6

Enter your 12th score: 75

In [5]:
twelve_marks

45.0

In [6]:
given_entrance = (input('Enter your entrance given: '))

Enter your entrance given: JEE

In [7]:
GUJCET_marks = int(input('Enter your GUJCET score: '))*0.4

Enter your GUJCET score: 0

In [8]:
GUJCET_marks

0.0

In [9]:
Final_GM= twelve_marks + GUJCET_marks

In [10]:
Final_GM

45.0

In [11]:
enter_category = (input('Enter your Category: '))

Enter your Category: General

In [19]:
choose_field = (input('Enter your choice of field: '))

Enter your choice of field: Information Technology

In [20]:
df2 = df1[(df1["XIIth Board"] == twelve_board) & (df1["Entrance given"] == given_entrance)]

In [21]:
df2

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
1,GSEB,74,JEE,80,0,SAL COLLEGE OF ENGINEERING,Information Technology,General,44.4,0.0,32.0,44.4,76.4
5,GSEB,69,JEE,57,0,SAL COLLEGE OF ENGINEERING,Information Technology,OBC,41.4,0.0,22.8,41.4,64.2
9,GSEB,69,JEE,57,0,SAL COLLEGE OF ENGINEERING,Information Technology,ST,41.4,0.0,22.8,41.4,64.2
13,GSEB,69,JEE,57,0,SAL COLLEGE OF ENGINEERING,Information Technology,SC,41.4,0.0,22.8,41.4,64.2
17,GSEB,69,JEE,57,0,SAL COLLEGE OF ENGINEERING,Information Technology,Others,41.4,0.0,22.8,41.4,64.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,GSEB,84,JEE,81,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,General,50.4,0.0,32.4,50.4,82.8
4365,GSEB,75,JEE,77,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,OBC,45.0,0.0,30.8,45.0,75.8
4369,GSEB,67,JEE,63,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,SC,40.2,0.0,25.2,40.2,65.4
4373,GSEB,58,JEE,59,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,ST,34.8,0.0,23.6,34.8,58.4
4377,GSEB,54,JEE,53,0,"GOVERNMENT ENGINEERING COLLEGE, RAJKOT",Instrumental and Control Engineering,Others,32.4,0.0,21.2,32.4,53.6

In [22]:
df2 = df2[(df2["Field"] == choose_field) & (df2["Final_J"] <= Final_GM)]

In [23]:
df2

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
305,GSEB,43,JEE,41,0,"SARDAR PATEL COLLEGE OF ENGINEERING - [SPCE], A0D",Information Technology,OBC,25.8,0.0,16.4,25.8,42.2
309,GSEB,43,JEE,41,0,"SARDAR PATEL COLLEGE OF ENGINEERING - [SPCE], A0D",Information Technology,ST,25.8,0.0,16.4,25.8,42.2
313,GSEB,43,JEE,41,0,"SARDAR PATEL COLLEGE OF ENGINEERING - [SPCE], A0D",Information Technology,SC,25.8,0.0,16.4,25.8,42.2
317,GSEB,43,JEE,41,0,"SARDAR PATEL COLLEGE OF ENGINEERING - [SPCE], A0D",Information Technology,Others,25.8,0.0,16.4,25.8,42.2
1641,GSEB,44,JEE,15,0,TATVA INSTITUTE OF TECHNOLOGICAL STUDIES - [TITS],Information Technology,General,26.4,0.0,6.0,26.4,32.4
1645,GSEB,39,JEE,30,0,TATVA INSTITUTE OF TECHNOLOGICAL STUDIES - [TITS],Information Technology,OBC,23.4,0.0,12.0,23.4,35.4
1649,GSEB,39,JEE,30,0,TATVA INSTITUTE OF TECHNOLOGICAL STUDIES - [TITS],Information Technology,ST,23.4,0.0,12.0,23.4,35.4
1653,GSEB,39,JEE,30,0,TATVA INSTITUTE OF TECHNOLOGICAL STUDIES - [TITS],Information Technology,SC,23.4,0.0,12.0,23.4,35.4
1657,GSEB,39,JEE,30,0,TATVA INSTITUTE OF TECHNOLOGICAL STUDIES - [TITS],Information Technology,Others,23.4,0.0,12.0,23.4,35.4
1741,GSEB,52,JEE,34,0,VADODARA INSTITUTE OF ENGINEERING,Information Technology,General,31.2,0.0,13.6,31.2,44.8
1745,GSEB,41,JEE,34,0,VADODARA INSTITUTE OF ENGINEERING,Information Technology,OBC,24.6,0.0,13.6,24.6,38.2
1749,GSEB,41,JEE,34,0,VADODARA INSTITUTE OF ENGINEERING,Information Technology,ST,24.6,0.0,13.6,24.6,38.2
1753,GSEB,41,JEE,34,0,VADODARA INSTITUTE OF ENGINEERING,Information Technology,SC,24.6,0.0,13.6,24.6,38.2
1757,GSEB,41,JEE,34,0,VADODARA INSTITUTE OF ENGINEERING,Information Technology,Others,24.6,0.0,13.6,24.6,38.2
1901,GSEB,52,JEE,34,0,VEERAYATAN INSTITUTE OF ENGINEERING,Information Technology,General,31.2,0.0,13.6,31.2,44.8
1905,GSEB,41,JEE,34,0,VEERAYATAN INSTITUTE OF ENGINEERING,Information Technology,OBC,24.6,0.0,13.6,24.6,38.2
1909,GSEB,41,JEE,34,0,VEERAYATAN INSTITUTE OF ENGINEERING,Information Technology,ST,24.6,0.0,13.6,24.6,38.2
1913,GSEB,41,JEE,34,0,VEERAYATAN INSTITUTE OF ENGINEERING,Information Technology,SC,24.6,0.0,13.6,24.6,38.2
1917,GSEB,41,JEE,34,0,VEERAYATAN INSTITUTE OF ENGINEERING,Information Technology,Others,24.6,0.0,13.6,24.6,38.2

In [24]:
df2 = df2[(df2["Category"] == enter_category)]

In [25]:
df2

,XIIth Board,XIIth score,Entrance given,JEE Score,GUJCET Score,College/University,Field,Category,XII60,GUJCET 40%,JEE 40%,Final_G,Final_J
1641,GSEB,44,JEE,15,0,TATVA INSTITUTE OF TECHNOLOGICAL STUDIES - [TITS],Information Technology,General,26.4,0.0,6.0,26.4,32.4
1741,GSEB,52,JEE,34,0,VADODARA INSTITUTE OF ENGINEERING,Information Technology,General,31.2,0.0,13.6,31.2,44.8
1901,GSEB,52,JEE,34,0,VEERAYATAN INSTITUTE OF ENGINEERING,Information Technology,General,31.2,0.0,13.6,31.2,44.8

In [27]:
df = df2['College/University']

In [28]:
df

1641    TATVA INSTITUTE OF TECHNOLOGICAL STUDIES - [TITS]
1741                    VADODARA INSTITUTE OF ENGINEERING
1901                  VEERAYATAN INSTITUTE OF ENGINEERING
Name: College/University, dtype: object

In [29]:
for i in df:
    print(i)

TATVA INSTITUTE OF TECHNOLOGICAL STUDIES - [TITS]
VADODARA INSTITUTE OF ENGINEERING
VEERAYATAN INSTITUTE OF ENGINEERING